### Imports

In [11]:
import pandas as pd
import numpy as np
import os

### Load all the `animals_YYYY.csv` files into a single dataframe called `animals`

#### Add a column that includes the year

In [36]:
list_files = os.listdir()
animal_files = filter(lambda file: "animals_" in file, list_files)

animal_dfs = []

for file in animal_files:
    
    df = pd.read_csv(file)
    df["year"] = file.split("_")[1].split(".")[0]
    animal_dfs.append(df)
    
animals = pd.concat(animal_dfs).reset_index(drop=True)

animals.sample(5)

                 area   dogs  cats  year
40  VILLA DE VALLECAS   9646  1875  2017
41         VILLAVERDE  12553  1737  2017
85            BARAJAS   5203  1300  2018
95          MORATALAZ   6831  2279  2018
11          MORATALAZ   6822  1756  2016

### From `animals`, create another dataframe called `animals_long` with the following columns:
* area
* species
* year
* total_number

In [47]:
animals_long = pd.melt(
    animals, 
    id_vars=["area", "year"], 
    value_vars=["dogs", "cats"], 
    var_name="species", value_name="total_number"
)

animals_long

                  area  year species  total_number
0           ARGANZUELA  2016    dogs         10591
1              BARAJAS  2016    dogs          5173
2          CARABANCHEL  2016    dogs         19275
3               CENTRO  2016    dogs         15470
4            CHAMARTÍN  2016    dogs         11759
..                 ...   ...     ...           ...
205             TETUÁN  2018    cats          4763
206              USERA  2018    cats          2419
207          VICÁLVARO  2018    cats          1279
208  VILLA DE VALLECAS  2018    cats          2467
209         VILLAVERDE  2018    cats          2307

[210 rows x 4 columns]

### Create a table with average number of dogs and cats per area for the period 2015-2017

In [54]:
avg_animals_2015_2017 = (
    animals
    .query("year >= 2015 & year <= 2017")
    .groupby("area")
    .mean()
)

avg_animals_2015_2017.sort_values(by=["dogs", "cats"], ascending=[False, False])

                             dogs         cats    year
area
PUENTE DE VALLECAS   23377.333333  3177.666667  2016.0
CARABANCHEL          19090.000000  3462.666667  2016.0
LATINA               18620.333333  3722.000000  2016.0
FUENCARRAL-EL PARDO  18194.000000  3954.333333  2016.0
CIUDAD LINEAL        17746.333333  5413.000000  2016.0
HORTALEZA            16632.333333  5958.333333  2016.0
CENTRO               14916.666667  5485.333333  2016.0
CHAMBERÍ             13813.666667  2780.666667  2016.0
SAN BLAS             13593.666667  2976.666667  2016.0
SALAMANCA            13024.333333  3027.000000  2016.0
MONCLOA-ARAVACA      12676.666667  2240.666667  2016.0
TETUÁN               12504.000000  3159.666667  2016.0
CHAMARTÍN            12270.666667  2597.333333  2016.0
USERA                12231.333333  1482.000000  2016.0
VILLAVERDE           11871.333333  1360.000000  2016.0
ARGANZUELA           10396.000000  2936.333333  2016.0
VILLA DE VALLECAS     8728.666667  1475.000000  2016.0
RETIRO                8458.333333  1921.666667  2016.0
MORATALAZ             6896.000000  1612.666667  2016.0
BARAJAS               5220.000000   902.666667  2016.0
VICÁLVARO             5201.666667   814.666667  2016.0

### Create a table with average number of dogs and cats per area for the period 2014-2018

In [51]:
avg_animals_per_area = animals.groupby("area")[["dogs", "cats"]].mean()

avg_animals_per_area.sort_values(by=["dogs", "cats"], ascending=[False, False])

                         dogs     cats
area
PUENTE DE VALLECAS   23146.00  3347.20
CARABANCHEL          19012.00  3654.40
LATINA               18649.80  4337.80
FUENCARRAL-EL PARDO  18056.75  4355.25
FUENCARRAL EL PARDO  18033.00  2790.00
CIUDAD LINEAL        17643.60  5301.40
HORTALEZA            16467.60  6086.60
CENTRO               14783.20  5620.40
CHAMBERÍ             13785.00  2866.20
SAN BLAS             13553.80  3081.20
SALAMANCA            13065.40  3078.80
MONCLOA-ARAVACA      12578.00  2344.60
TETUÁN               12458.20  3284.00
CHAMARTÍN            12234.20  2637.20
USERA                12095.80  1568.60
VILLAVERDE           11756.00  1447.60
ARGANZUELA           10281.00  3024.00
VILLA DE VALLECAS     8630.00  1566.40
RETIRO                8420.80  1976.40
MORATALAZ             6845.00  1654.00
BARAJAS               5219.20   933.40
VICÁLVARO             5116.40   845.60

### Load the `parks_and_extension.csv` into a dataframe called `parks`

In [40]:
parks = pd.read_csv("parks_and_extension.csv")
parks.head()

   area_code    area                                park_name extension
0          1  CENTRO                        PASEO DEL PRADO I      3,53
1          1  CENTRO                     PASEO DE RECOLETOS I      1,94
2          1  CENTRO                JARDINES DE LAS VISTILLAS      1,24
3          1  CENTRO                         PARQUE DE ATENAS      4,66
4          1  CENTRO  PARQUE DE LA DALIEDA DE S.FCO EL GRANDE      0,43

### Calculate the total extension of parks per area and sort them from highest to lowest

In [65]:
total_extension = parks.groupby("area").sum().sort_values(by="extension", ascending=False)

total_extension

                       area_code  extension
area
LATINA                        40      79.04
VICÁLVARO                     95      72.55
PUENTE DE VALLECAS            52      72.31
USERA                         24      63.99
ARGANZUELA                     6      44.84
HORTALEZA                     80      42.30
FUENCARRAL - EL PARDO         32      39.94
TETUÁN                        30      37.65
CIUDAD LINEAL                 60      33.10
SAN BLAS - CANILLEJAS        100      29.41
CARABANCHEL                   11      26.06
VILLAVERDE                    34      16.35
RETIRO                        12      13.92
MONCLOA-ARAVACA               18      13.26
SALAMANCA                     28      12.65
CHAMARTÍN                     20      12.19
CENTRO                         5      11.80
BARAJAS                       63       7.42
MORATALAZ                     28       6.42
VILLA DE VALLECAS             72       6.16
CHAMBERÍ                      35       4.85

### What's the area with the most parks?

In [75]:
most_parks = (
    parks
    .groupby("area")
    .count()
    .sort_values(by="park_name", ascending=False)
)

most_parks

                       area_code  park_name  extension
area
SALAMANCA                      7          7          7
HORTALEZA                      5          5          5
CHAMBERÍ                       5          5          5
SAN BLAS - CANILLEJAS          5          5          5
VICÁLVARO                      5          5          5
TETUÁN                         5          5          5
CENTRO                         5          5          5
CIUDAD LINEAL                  4          4          4
FUENCARRAL - EL PARDO          4          4          4
LATINA                         4          4          4
CHAMARTÍN                      4          4          4
PUENTE DE VALLECAS             4          4          4
RETIRO                         4          4          4
VILLA DE VALLECAS              4          4          4
BARAJAS                        3          3          3
ARGANZUELA                     3          3          3
USERA                          2          2          2
MONCLOA-ARAVACA                2          2          2
MORATALAZ                      2          2          2
VILLAVERDE                     2          2          2
CARABANCHEL                    1          1          1

### What's the area with the biggest parks (on average)?

In [71]:
biggest_parks = (
    parks
    .groupby("area")
    .mean()
    .sort_values(by="extension", ascending=False)
)

biggest_parks

                       area_code  extension
area
USERA                         12  31.995000
CARABANCHEL                   11  26.060000
LATINA                        10  19.760000
PUENTE DE VALLECAS            13  18.077500
ARGANZUELA                     2  14.946667
VICÁLVARO                     19  14.510000
FUENCARRAL - EL PARDO          8   9.985000
HORTALEZA                     16   8.460000
CIUDAD LINEAL                 15   8.275000
VILLAVERDE                    17   8.175000
TETUÁN                         6   7.530000
MONCLOA-ARAVACA                9   6.630000
SAN BLAS - CANILLEJAS         20   5.882000
RETIRO                         3   3.480000
MORATALAZ                     14   3.210000
CHAMARTÍN                      5   3.047500
BARAJAS                       21   2.473333
CENTRO                         1   2.360000
SALAMANCA                      4   1.807143
VILLA DE VALLECAS             18   1.540000
CHAMBERÍ                       7   0.970000

### Create table with mean_extension, n_parks, and total_extension

In [83]:
parks_summary = (
    parks
    .groupby("area")
    .agg({
        "extension": [np.mean, np.sum, "count"]
    })
    .sort_values(
        by=[('extension', 'sum'), ('extension', 'mean'), ('extension', 'count')],
        ascending=[True, False, True]
    )
)

parks_summary

                       extension
                            mean    sum count
area
CHAMBERÍ                0.970000   4.85     5
VILLA DE VALLECAS       1.540000   6.16     4
MORATALAZ               3.210000   6.42     2
BARAJAS                 2.473333   7.42     3
CENTRO                  2.360000  11.80     5
CHAMARTÍN               3.047500  12.19     4
SALAMANCA               1.807143  12.65     7
MONCLOA-ARAVACA         6.630000  13.26     2
RETIRO                  3.480000  13.92     4
VILLAVERDE              8.175000  16.35     2
CARABANCHEL            26.060000  26.06     1
SAN BLAS - CANILLEJAS   5.882000  29.41     5
CIUDAD LINEAL           8.275000  33.10     4
TETUÁN                  7.530000  37.65     5
FUENCARRAL - EL PARDO   9.985000  39.94     4
HORTALEZA               8.460000  42.30     5
ARGANZUELA             14.946667  44.84     3
USERA                  31.995000  63.99     2
PUENTE DE VALLECAS     18.077500  72.31     4
VICÁLVARO              14.510000  72.55     5
LATINA                 19.760000  79.04     4

### What's the area with the happiest dogs in 2018? (highest ratio extension to dogs)

In [85]:
animals_2018 = animals.query("year == 2018")[["area", "dogs"]]

parks_animals_2018 = pd.merge(total_extension, animals_2018, on="area")

parks_animals_2018["happiness"] = parks_animals_2018["extension"] / parks_animals_2018["dogs"]

parks_animals_2018.sort_values(by="happiness", ascending=False).reset_index(drop=True).drop("area_code", axis=1)

                  area  extension   dogs  happiness
0            VICÁLVARO      72.55   5393   0.013453
1                USERA      63.99  12475   0.005129
2           ARGANZUELA      44.84  10622   0.004221
3               LATINA      79.04  19282   0.004099
4   PUENTE DE VALLECAS      72.31  23526   0.003074
5               TETUÁN      37.65  12478   0.003017
6            HORTALEZA      42.30  15965   0.002650
7        CIUDAD LINEAL      33.10  17375   0.001905
8               RETIRO      13.92   7955   0.001750
9              BARAJAS       7.42   5203   0.001426
10          VILLAVERDE      16.35  12699   0.001288
11         CARABANCHEL      26.06  20265   0.001286
12           CHAMARTÍN      12.19  11417   0.001068
13     MONCLOA-ARAVACA      13.26  12462   0.001064
14           SALAMANCA      12.65  13312   0.000950
15           MORATALAZ       6.42   6831   0.000940
16              CENTRO      11.80  15881   0.000743
17   VILLA DE VALLECAS       6.16   9857   0.000625
18            CHAMBERÍ       4.85  13615   0.000356

### What's the safest area to be a cat in 2015? (highest ratio cats to dogs)

In [87]:
cats_2015 = animals.query("year == 2015")

cats_2015["cat_safety"] = cats_2015["cats"] / cats_2015["dogs"]

cats_2015.sort_values(by="cat_safety", ascending=False)

<ipython-input-87-451032cb203b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cats_2015["cat_safety"] = cats_2015["cats"] / cats_2015["dogs"]

                   area   dogs  cats  year  cat_safety
8             HORTALEZA  16888  4927  2015    0.291746
3                CENTRO  13505  3540  2015    0.262125
6         CIUDAD LINEAL  17882  4192  2015    0.234426
0            ARGANZUELA   9789  1939  2015    0.198079
16               TETUÁN  12502  2204  2015    0.176292
11            MORATALAZ   6881  1173  2015    0.170469
15             SAN BLAS  13067  2188  2015    0.167445
13               RETIRO   8883  1391  2015    0.156591
7   FUENCARRAL-EL PARDO  18305  2819  2015    0.154002
4             CHAMARTÍN  13159  1860  2015    0.141348
14            SALAMANCA  13159  1860  2015    0.141348
9                LATINA  18529  2595  2015    0.140051
5              CHAMBERÍ  14176  1939  2015    0.136780
2           CARABANCHEL  18031  2397  2015    0.132938
19    VILLA DE VALLECAS   7416   975  2015    0.131472
1               BARAJAS   5217   663  2015    0.127085
10      MONCLOA-ARAVACA  12692  1578  2015    0.124330
18            VICÁLVARO   4702   545  2015    0.115908
12   PUENTE DE VALLECAS  22765  2117  2015    0.092994
17                USERA  11641   992  2015    0.085216
20           VILLAVERDE  11092   897  2015    0.080869